.App {
  text-align: center;
}
body{
  background-color: #F7F7F7 !important;
}


.inp{
  height: 50px;
  border: 1px solid #0000005e !important;
  width: 100%;
}

.inp::placeholder{
  color: #0000005e!important;
}

.lightText{
  color: #fff !important;
  font-size: 22px !important; 
}

.navi.ui.fixed.inverted.main.menu{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
